@import '~@/assets/css/common';

$bgColor: $appsBgColor;
$headerColor: #22D12B; /*background-color*/
$headerLeftMargin: 10px; /*Отступ текста слева в заголовках*/
$buttonBgColor: $bgColor;
$buttonColor: black;
$fontface: "TWRegular";
